.floatRight {
    float: right;
}

.border-quantite {
    width:80px;
    font-size:20px;
    
 }


.nomClient {
    font-size: 15px !important;
    font-family: Calibri;  
}
.prix_item {
    font-size:15px !important;
    font-family:Calibri;
    font-weight:bold;
}
.cat_item {
    font-size: 15px;
    font-family: Calibri;
    font-weight: bold;
}

.description_item {
    font-size: 15px;
    font-family: Calibri;
}

.img-size {
    height:75px;
    width:75px;
}

.nom-item {
    font-size: 20px;
}

.nom-entreprise {
    font-size: 25px;
}

.infos-payage {
    font-size: 15px;
    font-weight:bold;
}

.avertissement-livraison {
    font-size: 15px;
    font-weight: bold;
    color: #ff9430;
}
.top5 {
    margin-top: 5px;
}
.top10 {
    margin-top: 10px;
}
.top15 {
    margin-top: 15px;
}
.bot15 {
    margin-bottom: 15px;
}
.left15 {
    margin-left: 15px;
}
.left25 {
    margin-left: 25px;
}
.left5 {
    margin-left: 5px;
}


.alignDropDown {
  
    position: absolute;
    left: auto;
    float: none;

}

.marginFluid {
    padding-right: 50px;
    padding-left: 50px;
}

.marginFluidSmall {
    padding-right: 30px;
    padding-left: 30px;
}
.right25 {
    margin-right: 25px;
}
.right15 {
    margin-right: 15px;
}
.right5 {
    margin-right: 5px;
}

.topBotPad {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Retour a {
    color: orange;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}
.breakWord {
    word-wrap: break-word;
}
.LiensProduits a {
    color: orange;
    word-wrap: break-word;
}

input[type="radio"] {
    margin: 10px 10px 10px 40px;
}

.messageBackGround {
    background-color: #f7a636 !important;
}

.Orange {
   color: orange;
}
.OrangeTitle {
    color: orange;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}
.OrangeBorder {
    color: orange;
    border-width : 15px;
    border-color : orange;
}
.OrangeBorderPanier {
    color: orange;
    border-width: 2px;
    border-color: orange;
}

.valign {
    font-size: 0;
}

.valign > [class*="col"] {
    display: inline-block;
    float: none;
    font-size: 14px;
    font-size: 1rem;
    vertical-align: middle;
}

.valignMessage {
    vertical-align: middle !important;
}

.border-left {
    border-left:5px solid orange;
}

.panelAccord {
    display: none;
}

.AFfichangeCat {
    padding: 15px;
    margin-bottom: 20px;    
}

.flex-container {
    display: flex;
    justify-content: center;   
}

.btnPageOrange {
    background-color: orange !important;
    color: #fff !important;
}
.btnPageSelected {
    background-color: red !important;
    border-color : red;
    color: #fff !important;
}
.alignQuantite {
    text-align: center;    
    display: inline-block;
    float: none;
    justify-content: center;
}


.flex-container > div {
    background-color: #FFD278;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 30px;
}

