

.border-quantite {
    width:50px;
    font-size:20px;
}


.nomClient {
    font-size: 15px !important;
    font-family: Calibri;  
}
.prix_item {
    font-size:15px !important;
    font-family:Calibri;
    font-weight:bold;
}
.cat_item {
    font-size: 15px;
    font-family: Calibri;
    font-weight: bold;
}

.description_item {
    font-size: 15px;
    font-family: Calibri;
}

.img-size {
    height:90px;
    width:90px;
}

.nom-item {
    font-size: 20px;
}

.nom-entreprise {
    font-size: 25px;
}

.infos-payage {
    font-size: 15px;
    font-weight:bold;
}

.avertissement-livraison {
    font-size: 15px;
    font-weight: bold;
    color: #ff9430;
}
.top5 {
    margin-top: 5px;
}
.top15 {
    margin-top: 15px;
}
.left15 {
    margin-left: 15px;
}

.marginFluid {
    padding-right: 50px;
    padding-left: 50px;
}
.right15 {
    margin-right: 15px;
}

.topBotPad {
    margin-top: 15px;
    margin-bottom: 15px;
}

.Retour a {
    color: orange;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}

.LiensProduits a {
    color: orange;   
}

input[type="radio"] {
    margin: 10px 10px 10px 40px;
}

.messageBackGround {
    background-color: #f7a636 !important;
}

.Orange {
   color: orange;
}
.OrangeTitle {
    color: orange;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}
.OrangeBorder {
    color: orange;
    border-width : 15px;
    border-color : orange;
}
.OrangeBorderPanier {
    color: orange;
    border-width: 2px;
    border-color: orange;
}

.valign {
    font-size: 0;
}

.valign > [class*="col"] {
    display: inline-block;
    float: none;
    font-size: 14px;
    font-size: 1rem;
    vertical-align: middle;
}

.valignMessage {
    vertical-align: middle !important;
}

.border-left {
    border-left:5px solid orange;
}

.panelAccord {
    display: none;
}

.AFfichangeCat {
    padding: 15px;
    margin-bottom: 20px;
  
    background-color:
}

.flex-container {
    display: flex;
    justify-content: center;   
}

.flex-container > div {
    background-color: #FFD278;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 30px;
}