
.border-quantite {
    width:50px;
    font-size:20px;
}

.prix_item {
    font-size:25px;
    font-family:Calibri;
    font-weight:bold;
}

.img-size {
    height:90px;
    width:90px;
}

.nom-item {
    font-size: 20px;
}

.nom-entreprise {
    font-size: 25px;
}

.infos-payage {
    font-size: 15px;
    font-weight:bold;
}

.infos-livraison {
    font-size: 17px;
}

.avertissement-livraison {
    font-size: 15px;
    font-weight: bold;
    color: #ff9430;
}

.conteneur-remerciement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}