
.border-quantite {
    width:80px;
    font-size:20px;
}

.prix_item {
    font-size:25px;
    font-family:Calibri;
    font-weight:bold;
}

.prix-item-avant-rabais {
    font-size: 15px;
    font-family: Calibri;
    font-weight: bold;
    text-decoration: line-through;
}

.prix_unitaire {
    font-size: 15px;
    font-family: Calibri;
    color:grey;
}

.rabais {
    font-size: 15px;
    font-family: Calibri;
    font-weight: bold;
    color:orange;
}

.img-size {
    height:90px;
    width:90px;
}

.img-size-new {
    height:30px;
    width:30px;
}

.nom-item {
    font-size: 20px;
}

.nom-entreprise {
    font-size: 25px;
    color:black !important;
}

.infos-payage {
    font-size: 15px;
    font-weight:bold;
}

.infos-livraison {
    font-size: 17px;
}

.avertissement-livraison {
    font-size: 15px;
    font-weight: bold;
    color: #ff9430;
}

.conteneur-remerciement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.rupture-stock {
    font-size: 15px;
    font-family: Calibri;
    color: rgb(228, 28, 28);
}

.rupture-stock-message {
    font-size: 15px;
    font-family: Calibri;
    color: rgb(228, 28, 28);
}

.modif-stock-message {
    font-size: 15px;
    font-family: Calibri;
    color: orange;
}

.erreur {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: rgba(238, 25, 25, 0.50) !important;
}

.deux-lignes {
    word-wrap:break-word;
}
